html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background-color: white;
  color: #545459;
  font: normal 16px Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 8px 0 0 0;
}

h2, h3, h4 {
  color: #ce4a4a;
}

p {
  padding: 0;
  margin: 25px 0;
  line-height: 2;
}

.container {
  width: 1000px;
  border: 2px solid #999;
  padding: 20px;
  margin: 0 auto;
}

.example-container a,
.example-container a:visited {
  text-decoration: none;
}

.example-container {
  width: 650px;
  border: 2px dashed #555;
  padding: 30px;
  margin: 40px 0 40px 40px;
}

a {
  color: black;
}

a.padded_anchor {
  background-color: green;
  color: white;
  padding: 30px;
}

a.padded_bordered_anchor {
  background-color: green;
  color: white;
  padding: 30px;
  border: 4px darkgreen solid;
}

.second-example a,
.second-example a:visited {
  color: black;
  margin: 30px;
}

.fourth-example a,
.fourth-example a:visited {
  float: left;
  margin: 15px;
}

.fourth-example {
  overflow: auto;
}

.highlighted-blue {
  background-color: dodgerblue;
  color: white;
}

.highlighted-green {
  background-color: green;
  color: white;
}

.highlighted-red {
  background-color: red;
  color: white;
}

.block-elements div {
  color: white;
}
  
.block-elements > div:nth-of-type(2) {
  background-color: green;
  height: 60px;
  padding: 20px;
  margin: 20px;
}

.block-elements > div:nth-of-type(3) {
  background-color: tomato;
  width: 90px;
}

.block-elements > div:nth-of-type(4) {
  background-color: pink;
  width: 180px;
  height: 120px;
  margin: 20px;
  padding: 20px;
}

.floated-left {
  float: left;
}

.floated-right {
  float: right;
}

.bordered-red {
  border: 1px solid red;
}

.after-float {
  clear: both;
}

.floating-block-elements div:nth-of-type(3) {
  width: 40%;
  padding: 25px 0;
  text-align: center;
}

.floating-block-elements div:nth-of-type(4) {
  width: 50%;
  padding: 25px 0;
  text-align: center;
}

.vertical-navigation a,
.vertical-navigation a:hover {
  display: block;
  text-decoration: none;
  color: white;
  background-color: dodgerblue;
  text-align: center;
  padding: 10px 0;
  margin-top: 10px;
}

.vertical-navigation {
  margin-bottom: 35px;
}

.horizontal-navigation {
  text-align: center;
}

.horizontal-navigation a,
.horizontal-navigation a:visited {
  display: inline-block;
  width: 180px;
  text-decoration: none;
  background-color: dodgerblue;
  color: white;
  padding: 20px 30px;
  margin: 20px 8px 25px;
}

.inline-block-elements::after {
  display: block;
  width: 100%;
  content: "";
  border-top: 1px dashed black;
  margin: 10px 0 40px 0;
}

.centered {
  text-align: center;
}

.floating {
  /*overflow: auto;*/
  color: white;
  font-weight: bold;
  background-color: lightgray;
  margin-bottom: 40px;
}

.floating div:nth-of-type(1) {
  float: left;
  background-color: tomato;
  width: 50%;
  line-height: 100px;
}

.floating div:nth-of-type(2) {
  float: left;
  background-color: dodgerblue;
  width: 50%;
  line-height: 100px;
}

.floating div:nth-of-type(3) {
  clear: both;
  background-color: seagreen;
  line-height: 50px;
}

pre {
  margin: 0;
}

.positioning ul {
  margin: 0 0 45px 40px;
}

.positioning ul p {
  margin: 0;
}

.fixed {
  position: fixed;
  background-color: dodgerblue;
  border-radius: 10px;
  padding: 25px 35px;
  color: white;
  left: 35px;
  bottom: 50px;
  width: 225px;
}

.relative {
  background-color: tomato;
  color: white;
  width: 325px;
  border-radius: 10px;
  padding: 25px 35px;
  margin-left: 0;
  position: relative;
  right: 90px;
  top: 40px;
}