html, body, header, img, nav, ul, li, main, footer, section,
h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  color: #cacaca;
  font-family: Avenir, Nunito, Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: normal;
}

body {
  background: url("../resources/images/bg_body.gif") 50% 0 repeat;
  background-color: #2f2840;
}

*, *::before, *::after {
  box-sizing: inherit;
}

#space-design-container {
  margin: 0 auto;
  width: 100%;
}

p {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.4;
  letter-spacing: -0.1px;
  margin-bottom: 3.55rem;
}

header {
  text-align: center;
  padding-top: 133px;
  padding-bottom: 38px;
}

header ul {
  font-size: 0;
  margin-top: 106px;
}

header nav li {
  /*
    re-instantiate the nav li font-size because it has been set
    to zero to get rid of the inter-list-item whitespace
  */
  font-size: 1.625rem;

  display: inline-block;
}

header li + li {
  margin-left: 70px;
}

a,
a:link,
a:visited {
  color: inherit;
  text-decoration: none;
}

.active {
  color: #6db9ff;
  font-weight: 900;
}

main {
  color: black;
  background-color: white;
  text-align: center;
}

.main-content-column {
  width: 1000px;
  margin: 0 auto;
  padding: 112px 90px 21px 90px;
}

/* specify the bullets as content leading and following every h2 */
h2::before, h2::after {
  content: "\2022";
  font-size: 1.35rem;
  display: inline-block;
  vertical-align: 6px;
  margin: 0 24px;
}

h2 {
  display: inline-block;
  font-size: 2.25rem;
}

h3 {
  font-size: 1.5rem;
  color: #3e59b2;
  margin: 20px 0 10px;
  font-weight: 800;
}

.our-founder p {
  margin-top: 34px;
}

footer {
  background-color: #e7e7e7;
  color: #b2b2b2;
  text-align: center;
  padding-bottom:  70px;
}

.one-liner {
  display: block;
}

footer p {
  margin: 0;
  padding: 80px 0 40px 0;
}

footer ul {
  list-style-type: none;
}

footer ul li {
  display: inline-block;
}

footer li + li {
  margin-left: 120px;
}

.sprite {
  /* CSS sprites as background using a single spritesheet */
  display: inline-block;
  width: 46px;
  height: 46px;
  background-image: url("../resources/images/icons_social_media.png");
}

.twitter { background-position: 0 0; }

.facebook { background-position: 0 -46px; }

.email { background-position: 0 -92px; }

.instagram { background-position: 0 -138px; }
