html {
  box-sizing: border-box;
  font: normal 16px Avenir, Nunito, Helvetica, Arial, sans-serif;

  /* specify background image and repeat it with a fall-back bg color */
  background-color: #2f2840;
  background-image: url("../resources/images/bg_body.gif");
  background-repeat: repeat;

  padding-bottom: 140px;
}

*, *::before, *::after {
  box-sizing: inherit;
}

#space-design-container {
  width: 1000px;
  margin: 0 auto;
}

header img {
  display: block;
  margin: 0 auto;
}

header {
  background-color: transparent;
  padding: 160px 0 94px;
}

h2 {
  font-size: 2.25rem;
  margin-top: 28px;
}

p {
  font-size: 1.25rem;
  margin-top: 20px;
  line-height: 1.40;
}

strong {
  color: #3e98b2;
  font-size: 1.55rem;
}

main {
  background-color: white;
  text-align: center;
  padding: 70px 90px;
}

span {
  /* the sub-heading bullets */
  font-size: 1.7rem;
  vertical-align: 5px;
  margin: 0 16px;
}

p + h2 {
  margin-top: 160px;
}

footer {
  background-color: #e7e7e7;
  padding: 33px 0;
}

ul {
  text-align: center;
}

ul li {
  display: inline-block;
  margin: 0 60px;
}

footer img {
  vertical-align: top;
}