html {
  font: normal 16px Helvetica, Arial, sans-serif;
}

body {
  box-sizing: border-box;
  background-color: #141414;
  color: #f0f0f0;
  margin: 0;
}

*, *::before, *::after {
  box-sizing: inherit;
  color: inherit;
}

h1 {
  margin: 0 0 25px 0;
  padding: 0;
  text-align: center;
}

img {
  vertical-align: top;
}

#photo-gallery-container {
  background-color: #333333;
  max-width: 1000px;
  padding: 45px 20px 30px 20px;
  margin: 0 auto;
}

#feature-image {
  width: 100%;
  height: auto;
  border: 15px solid white;
}

figure {
  margin: 0;
}

figcaption {
  margin-top: 10px;
  margin-bottom: 30px;
}

ul {
  padding: 0;
  margin: 0;
}

#thumbnail-container {
  width: 100%;
  margin-bottom: 20px;
}

#thumbnail-container ul {
  width: 100%;
  list-style-type: none;
  font-size: 0;
}

#thumbnail-container img {
  width: 100%;
  border: 3px solid white;
}

#thumbnail-container li {
  display: inline-block;
  width: 22.391304325%;
  margin-left: 3.4782609%;
}

#thumbnail-container li:nth-of-type(1),
#thumbnail-container li:nth-of-type(5) {
  margin-left: 0;
  margin-bottom: 15px;
}

@media screen and (max-width: 899px) {
  #thumbnail-container li {
    width: 31.01449273%;
  }

  #thumbnail-container li:nth-of-type(1),
  #thumbnail-container li:nth-of-type(5) {
    margin-left: 3.4782609%;
  }

  #thumbnail-container li:nth-of-type(1),
  #thumbnail-container li:nth-of-type(4),
  #thumbnail-container li:nth-of-type(7) {
    margin-left: 0;
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 599px) {
  #thumbnail-container li {
    width: 48.26086955%;
  }

  #thumbnail-container li:nth-of-type(1),
  #thumbnail-container li:nth-of-type(4),
  #thumbnail-container li:nth-of-type(7) {
    margin-left: 3.4782609%;
    margin-bottom: 15px;
  }

  #thumbnail-container li:nth-of-type(1),
  #thumbnail-container li:nth-of-type(3),
  #thumbnail-container li:nth-of-type(5),
  #thumbnail-container li:nth-of-type(7) {
    margin-left: 0;
  }
}

@media screen and (min-width: 1280px) {
  /* visualize the breakpoint */
  h1 { color: hotpink; }

  #photo-gallery-container {
    max-width: 100%;
  }

  figure {
    width: 950px;
    float: left;
    display: inline-block;
    margin-right: 50px;
    vertical-align: top;
  }

  #thumbnail-container ul li {
    margin: 0 0;
    outline: red solid 4px;
    overflow: hidden;
  }
}
